# terraform.tfvars.example
# Terraform Cloud에서는 사용 안하는데, Workspace Variables에서 설정 중

aws_region        = "ap-northeast-2"
project_name      = "diggindie"
environment       = "dev"
vpc_cidr          = "10.0.0.0/16"
instance_type     = "t2.micro"
key_name          = "diggindie"
db_name           = "diggindie"
db_username       = "postgres"
db_password       = "CHANGE_ME"
db_instance_class = "db.t3.micro"
